ul {
    background: #c1cacf;
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

li a {
    display: block;
    color:#475F6B;
    text-decoration:none;
    margin:35px -600px 0px 700px;
    padding: 0px;
}

li a:hover {
    background: #878a8b;
}

img {
    display: block;
    margin-bottom: -212px;
    margin-left: 0pt;
    margin-right: 15px;
    height: 310px;
    width: 310px;
}

h1 {
    display:block;
    color: #475F6B;
    margin-top: 80px;
    margin-left: 25px;
}

.maingrid {
    display: grid;
    grid-template-columns: 900px 590px;
    grid-template-rows: 800px 600px;
    column-gap: 15pt;
    row-gap: 15px;
}

.one {
   background-color:#9BD0EB;
}

.two {
    background-color:#3E88AD;
 }

 .five{
     background-color:#688C9E;
     height: 50px;
     grid-column: 1 / span 2;
 }
 