@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    margin: 0;
}

nav {
    width: 100%;
    height: 75px;
    background: #ffffff; 
}

ul {
    list-style-type: none;
    margin:0 0 0 150px;
    padding: 0;
  }

li {
    float: left;
}

.logo img{
    position: absolute;
    margin-top: -100px;
}

nav a {
    display: block;
    padding: 30px 0px;
    margin-left: 155px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-decoration:none;
}

nav a:hover {
    background: #AEB5BF;
    transition: 0.5s;
}

.heroimage{
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
}

.heroimage img{
    margin-bottom: -55px;
    height: 105px;
    width: 100%;
    }

.intouch{
    position: absolute;
    bottom: 410px;
    left: 1%;
    font-size: 40px;
    font-weight: lighter;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 40px;
    background-color:#98b9ca;
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.maingrid {
    display: grid;
    grid-template-columns: 585px 600px;
    grid-gap: 10px;    
    justify-content:space-evenly;
}

.maingrid iframe{
    height: 400px;
    width: 100%;
}

.contactform{
    background-color:#9cbdce;
    

}

.footergrid {
    display: grid;
    padding-top: 20px;
}

.social-icon{
    background-color:#85a9bb;
    height: 40px;
    grid-column: 1 /span 2;
}

span.fb {
    display: inline-block;
    font-size: 30px;
    margin-left: 40%;
    padding: 8px;
}

span.yt {
    display: inline-block;
    font-size: 30px;
    padding: 8px;

}

span.twt {
    display: inline-block;
    font-size: 30px;
    padding: 8px;

}

span.ig {
    display: inline-block;
    font-size: 30px;
    padding: 8px;

}

.location{
    background-color:#63889b;
    height: 85px;
    grid-column: 1 /span 2;
    padding: 0pt;
 }
 
  .description {
     background-color:#c8d8e0;
     border: #475F6B;
     border-style: groove;
     text-align: left;
     font-family: 'Roboto', sans-serif;
 }
 
 h4{
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     font-weight: lighter;
     text-align: center;
     letter-spacing: 2px;
 }
 h3{
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     font-weight: lighter;
     text-align: center;
     letter-spacing: 2px;
     margin-top: -15px;
 }
  
  
 