@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 5px;
}

nav {
    width: 100%;
    height: 80px;
    background: #ffffff; 
}

ul {
    list-style-type: none;
    margin:0 0 0 75px;
    padding: 0;
  }

li {
    float: left;
}

.logo img{
    position: absolute;
    margin-top: -100px;
}

nav a {
    display: block;
    padding: 30px 0px;
    margin-left: 150px;
    color:#475F6B;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-decoration:none;
}

nav a:hover {
    background: #dbe0e0;
    transition: 0.5s;
}

.heroimage{
    box-shadow: 10px 10px 5px rgb(105, 105, 105);
}

.heroimage img{
    margin: 15px 0px 0px 0px;
    height: 150px;
    width: 100%;
    }

.ODTraining{
    position: absolute;
    bottom: 350px;
    left: 5%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(20, 58, 88);
    font-family: 'Montserrat', sans-serif;
}

.loginform {
    background-color:#98b9ca;
}

form {
    margin-top: 50px;
    margin-left: 30%;
    color:#121213;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: -90px;
    margin-left: 35px;
    padding-top: 15px;
  }


.traininggrid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    grid-row-gap: 50px;
} 

.footergrid {
    display: grid;
    padding-top: 20px;
}

.ytvideo {
   margin-top: 10px;
   padding: 5px;
   margin-left: 50px;
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   font-weight: lighter;
}

 .description {
    background-color:#c8d8e0;
    border: #475F6B;
    border-style: groove;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

.five{
    background-color:#799eb1;
    height: 45px;
}
.six{
   background-color:#5f8294;
   height: 75px;
   width: 100%;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}
